.main-chat
  .main-chat__rightHeader
    .main-chat__rightHeader__groupName
      = @group.name
      %ul.main-chat__rightHeader__groupName__list
        Menber :
        %li.main-chat__rightHeader__groupName__list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(current_user), class: "main-chat__rightHeader--edit" do
      Edit
  .main-chat__messageScreen
    = render @messages
  .main-chat__messageForm
    = form_with model: [@group, @message], html: {class: "text-box"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'input-box__submitBtn'
